*{
    margin-top: 0;
margin-left: 0;
margin-right: 0;
}
body {
    font font-family: Georgia;
    Text-align: center;
    background-image: url('images/38582.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

h1 {
    color: white;
    font-size: 60pt;
    line-height: 3mm;
    margin-top: 150px;
 
   
}

h2 {
    color: #f7e6ff;
    font-size: 25pt;
    line-height: 3mm;
    padding-bottom: 100px;
}
 header {
    position:relative;
     background-color:#f7e6ff;
     line-height: 1mm;
     Text-align: center;
     padding: 10px;
 
     
 } 

 footer {
    background-color: #f7e6ff ;
    clear: both;
    position: relative;
    height: 110px;
    margin-top: 600px;

     
  }
  
 h4 {
     font-size: 20pt;
     color:  #cc0099;
     line-height: 1mm;
      margin:0px;
     padding:30px;
    }
 

h5 {
   
    font-size: 12pt;
    color:  #cc0099;
    line-height: 1mm;
} 

li {
    text-align: center;
    display: inline-block;
    background-color:  #e6fff5;
    border: 5px solid #cc0099; 
    padding: 10px 65px;
    margin-right: 50px;
    margin-left: 50px;
   

}
ul {
    text-align: center;
}
a {
    color:  #cc0099;
    font-size: 15pt;
    
    text-decoration: none;
}
p {
        width: 600px;
        border: 15px solid #cc0099;
        background-color: #e6fff5;
        padding: 50px;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
}